// custom css

// Color variables (appears count calculates by raw css)
@color0: #00e2fa; // Appears 12 times
@color1: #39fad7; // Appears 12 times
@color2: #ffe140; // Appears 12 times
@color3: #52a0fd; // Appears 8 times
@color4: #44ea76; // Appears 8 times
@color5: #fa6c9f; // Appears 8 times
@color6: #ffffff; // Appears 4 times

.bg-gradient1 {
  div {
    background: -moz-linear-gradient(left, @color3 0%, @color0 80%, @color0 100%);
    background: -webkit-linear-gradient(left, @color3 0%, @color0 80%, @color0 100%);
    background: @color3;
    background: linear-gradient(to right, @color3 0%, @color0 80%, @color0 100%);
  }
  &:before {
    background: -moz-linear-gradient(left, @color3 0%, @color0 80%, @color0 100%);
    background: -webkit-linear-gradient(left, @color3 0%, @color0 80%, @color0 100%);
    background: @color3;
    background: linear-gradient(to right, @color3 0%, @color0 80%, @color0 100%);
  }
}
.bg-gradient2 {
  span {
    background: -moz-linear-gradient(left, @color4 0%, @color1 80%, @color1 100%);
    background: -webkit-linear-gradient(left, @color4 0%, @color1 80%, @color1 100%);
    background: @color4;
    background: linear-gradient(to right, @color4 0%, @color1 80%, @color1 100%);
  }
  &:before {
    background: -moz-linear-gradient(left, @color4 0%, @color1 80%, @color1 100%);
    background: -webkit-linear-gradient(left, @color4 0%, @color1 80%, @color1 100%);
    background: @color4;
    background: linear-gradient(to right, @color4 0%, @color1 80%, @color1 100%);
  }
}
.bg-gradient3 {
  span {
    background: -moz-linear-gradient(left, @color5 0%, @color2 80%, @color2 100%);
    background: -webkit-linear-gradient(left, @color5 0%, @color2 80%, @color2 100%);
    background: @color5;
    background: linear-gradient(to right, @color5 0%, @color2 80%, @color2 100%);
  }
  &:before {
    background: -moz-linear-gradient(left, @color5 0%, @color2 80%, @color2 100%);
    background: -webkit-linear-gradient(left, @color5 0%, @color2 80%, @color2 100%);
    background: @color5;
    background: linear-gradient(to right, @color5 0%, @color2 80%, @color2 100%);
  }
}
.wrapper {
  perspecive: 800px;
  // text-align: center;
  transform-style: perserve-3d;
}
a {
  text-decoration: none;
  &:hover {
    text-decoration: none;
  }
  &:focus {
    text-decoration: none;
  }
  &:active {
    text-decoration: none;
  }
}
.fancy-button {
  color: @color6;
  display: inline-block;
  font-family: 'Montserrat', Helvetica, Arial, sans-serif;
  font-size: 14px;
  letter-spacing: 0.03em;
  margin: 10px;
  position: relative;
  text-transform: uppercase;
  &:before {
    border-radius: 30em;
    bottom: -5px;
    content: '';
    display: inline-block;
    filter: blur(20px) brightness(0.95);
    height: 40px;
    left: 30px;
    position: absolute;
    right: 30px;
    transform-style: preserve-3d;
    transition: all 0.3s ease-out;
    z-index: -1;
  }
  span {
    border-radius: 50em;
    display: inline-block;
    padding: 14px 30px;
    position: relative;
    transform-style: preserve-3d;
    transition: all 0.3s ease-out;
    will-change: transform, filter;
    z-index: 2;
  }
  &:focus {
    color: @color6;
  }
  &:active {
    color: @color6;
  }
  &:hover {
    color: @color6;
    span {
      filter: brightness(1.05) contrast(1.05);
      transform: scale(0.95);
    }
    before {
      bottom: 0;
      filter: blur(10px) brightness(0.95);
    }
  }
}
.fancy-button.pop-onhover {
  &:before {
    bottom: 10px;
    opacity: 0;
  }
  &:hover {
    before {
      bottom: -7px;
      filter: blur(20px);
      opacity: 1;
    }
    span {
      transform: scale(1.04);
    }
    active {
      span {
        filter: brightness(1) contrast(1);
        transform: scale(1);
        transition: all 0.15s ease-out;
      }
      before {
        bottom: 0;
        filter: blur(10px) brightness(0.95);
        transition: all 0.2s ease-out;
      }
    }
  }
}

// end custom css

.category {
  .topic-list {
    // margin-top: 10px;
  }

  > ul {
    > li {
      list-style: none;

      &:not(.unread) {
        .card {
          border-color: lighten(@gray-light, 20%) !important;
        }

        h2 a {
          color: @text-muted;
        }
      }

      &.deleted {
        -moz-opacity: 0.3;
        opacity: 0.3;
      }

      .select {
        position: relative;
        .pointer;

        &:before {
          content: '';
          display: none;
        }

        .fa-check {
          padding: 14.5px; /* 14.5*2 + 15 + 2px border = 46px */
          border-radius: 50%;
          position: absolute;
          font-size: 15px;
          opacity: 0;
          top: 0px;
          left: 0px;
          border: 1px solid transparent;
          background: white;
          width: 100%;
          height: 100%;
          padding: 14px;

          &:before {
            .pointer;
          }
        }

        .avatar {
          opacity: 1;
        }

        .fa-check,
        .avatar {
          .transition(0.2s ease-in-out all);
        }

        float: left;
      }

      .avatar .select:hover {
        .avatar {
          opacity: 0;
        }

        .fa-check {
          border: 1px solid @brand-primary;
          color: @brand-primary;
          opacity: 1;
        }
      }

      &.selected {
        .select .avatar {
          opacity: 0;
        }

        .avatar .select .fa-check {
          opacity: 1;
          border: 1px solid @brand-success;
          color: @brand-success;
        }
      }

      .tag-list {
        display: inline-block;
        .tag {
          text-transform: uppercase;
          font-size: 10px;
          background: lighten(@gray-lighter, 2.5%);
          padding: 5px;
          white-space: nowrap;
        }
      }

      .fa-stack {
        font-size: 90%;
        border-radius: 50%;
      }

      .card .user-icon {
        display: inline-block;
        .user-icon-style(24px, 1.5rem, 50%);
      }
    }

    &:last-child li {
      border-bottom: 0;
    }
  }

  .unread {
    .topic-title {
      font-weight: bold;
    }
  }
}

.category,
.categories,
.subcategory {
  > p {
    text-transform: uppercase;
    color: @gray-light;
  }

  .description {
    font-size: 1.2rem;
    font-weight: normal;
    line-height: 1.2;
    color: @gray-light;
    margin-top: 5px;
    min-height: 25px;
  }

  .description,
  .category-children {
    margin-left: 62px;
  }

  .category-children {
    display: block;
    font-size: 15px;

    small {
      color: #999999;
    }
  }
}

.categories-title {
  text-transform: uppercase;
  color: @gray-light;
  margin: 0 0 10px;
  font-size: 14px;
  font-weight: normal;
  line-height: 1.42857143;
}

[component='category-selector'],
.category-dropdown-container {
  .fa-stack {
    font-size: 65%;
    border-radius: 50%;
  }

  #category-dropdown-check:checked + .dropdown-menu {
    display: block;
  }
}

.category-dropdown-menu {
  max-height: 500px;
  overflow-y: auto;
}

.merge-topic-card {
  position: fixed;
  bottom: 10%;
  right: 2rem;
  z-index: 1;
  .topics-section {
    text-align: center;
    max-height: 500px;
    overflow-y: auto;
  }
}

@media screen and (min-width: @screen-sm-min) {
  .merge-topic-card {
    max-width: 33%;
  }
}
