#new-topics-alert {
  background-color: red;
  margin-bottom: 0px;
  padding: 10px 16px;
}

// custom css

.gradient-btn {
  height: 70px;
  line-height: 70px;
  width: 180px;
  margin: 10px;
  padding-left: 20px;
  border-radius: 50px;
  float: left;
  color: #fff;
  box-shadow: 5px 5px 2px -2px #a5a5a5;
}

.btn-1 {
  background-image: linear-gradient(to right top, #fdbe25, #fec928, #ffd42b, #ffdf31, #ffea37);
}

.btn-2 {
  background-image: linear-gradient(to right top, #fab823, #f9a315, #f68d0c, #f3770d, #ee5f13);
}

.btn-3 {
  background-image: linear-gradient(to right top, #eb4f12, #e74717, #e23f1b, #de361e, #d92d21);
}

.btn-4 {
  background-image: linear-gradient(to right top, #ed433f, #df3a37, #d2302f, #c42627, #b71b1f);
}

.btn-5 {
  background-image: linear-gradient(to right top, #b71c24, #c41c3c, #cf2154, #d72c6d, #db3a86);
}

.btn-6 {
  background-image: linear-gradient(to top, #d83f91, #d0409b, #c743a5, #bb47af, #ae4bb8);
}

.btn-7 {
  background-image: linear-gradient(to top, #a94bb9, #9b46b7, #8d42b5, #7d3eb2, #6d3ab0);
}

.btn-8 {
  background-image: linear-gradient(to top, #5540cd, #493fc7, #3c3ec0, #2e3dba, #1e3bb3);
}

.btn-9 {
  background-image: linear-gradient(to top, #1c3eb4, #154cbd, #1059c6, #1266ce, #1b73d5);
}

.btn-10 {
  background-image: linear-gradient(to top, #4292ff, #388cff, #2e86ff, #2380ff, #177aff);
}

.btn-11 {
  background: linear-gradient(to right, #11998e, #38ef7d);
}

.btn-12 {
  background: linear-gradient(to right, #aaffa9, #11ffbd);
}

.btn-13 {
  background: linear-gradient(to right, #348f50, #56b4d3);
}

.btn-14 {
  background: linear-gradient(to right, #403b4a, #bbbbb4);
}

.gradient-btn:nth-child(odd):hover {
  transition: all 2s ease;
  transform: translateX(10px);
  cursor: pointer;
  box-shadow: -6px -9px 2px -2px #a5a5a5;
}

.gradient-btn:nth-child(even):hover {
  transition: all 2s ease;
  transform: translateX(-10px);
  cursor: pointer;
  box-shadow: 8px 8px 2px -2px #a5a5a5;
}

// end custom css
